/* Contact.css */
.contact {
    background-color: #fff;
    padding: 20px;
    margin: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.contact h2 {
    font-size: 2rem;
    color: #333;
    margin-bottom: 20px;
}

.contact p {
    font-size: 1.2rem;
    color: #555;
}

.contact p a {
    color: #f4a261;
    text-decoration: none;
}

.contact p a:hover {
    color: #333;
}
